repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.3
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [--fix]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.2
  hooks:
    - id: check-github-workflows
      args: ["--verbose"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    -  id: mypy
       additional_dependencies: [types-requests]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v5.0.0"
  hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: name-tests-test
      args: ["--pytest-test-first"]
    - id: requirements-txt-fixer
    - id: trailing-whitespace
      exclude: .*\.md

default_language_version:
    python: python3.13
